<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="modules/layout :: html(hero = ~{::hero},content = ~{::content}, title='标签：' + ${tag.spec.displayName} + ' - ' + ${site.title})">
<th:block th:fragment="hero">
        <div class="site-cover u-overlay initialized">
             <img 
                th:if="${not #strings.isEmpty(theme.config.head_img.tag_patternimg)}"
                class="cover-image u-object-fit" 
                th:src="${theme.config.head_img.tag_patternimg}" alt="YoLo">
            <img
                th:if="${#strings.isEmpty(theme.config.head_img.tag_patternimg)}" 
                class="cover-image u-object-fit" 
                src="https://cdn.playet.cn/themes/yolo/default-background.jpeg"  alt="YoLo">
            <div class="cover-content">
                <div class="cover-description_t">
                    <span>标签</span>
                </div>
                <hr class="cover-description_l" />
                <div class="cover-description_s">
                    <span>See if it's what you're looking for?</span>
                </div>
            </div>
        </div>    
</th:block> 
<th:block th:fragment="content">
    <div class="tags" th:with="tags = ${tagFinder.listAll()}">
        <a
        th:each="tagItem,iter : ${tags}"
        th:href="${tagItem.status.permalink}"
        th:classappend="(${tag} and ${tag.metadata.name == tagItem.metadata.name}) or (not ${tag} and ${iter.index == 0}) ? 'ring-2 ring-purple-200' : ''"
        >
            <th:block th:text="|#${tagItem.spec.displayName}|"></th:block>
            <sup th:text="${tagItem.status.visiblePostCount}"></sup>
        </a>
    </div>
    <div class="tags_name">
        <span th:text="|#${tag.spec.displayName}|"></span>
    </div>
    <div
        id="post-list"
        th:if="${posts.total gt 0}"
        th:with="postItems=${posts.items},list_layout=${theme.config.layout.post_list_layout}"
        class="gh-outer"
        th:classappend="|${list_layout == 'grid_3' ? 'md:grid-cols-2 xl:grid-cols-3' : ''} ${list_layout == 'grid_2' ? 'md:grid-cols-2' : ''}|"
    >
        <main class="site-main gh-inner">
            <div class="post-feed">
                <th:block th:each="post : ${postItems}">
                <th:block
                    th:replace="~{modules/post-card :: post-card(${post},true,true,true,${list_layout == 'single' ? 'column' : 'row'})}"
                />
                </th:block>
            </div>
        </main>
        <div th:if="${posts.total == 0}" class="mt-6 flex items-center justify-center">
            <span class="text-sm font-light text-gray-600 dark:text-slate-200">此标签下没有文章</span>
        </div>
        <!--底部分页-->
            <th:block
                th:if="${posts.hasPrevious() || posts.hasNext()}"
                th:with="totalPages = ${posts.totalPages}, pageIndex = ${posts.page}">
            <!--        页面总数小于等于7-->
            <ul class="pagination" th:if="${(totalPages le 7) && (totalPages gt 0)}">
                <li class="prev"
                    th:classappend="${1 eq pageIndex} ? ' disabled':''">
                    <a th:href="@{${posts.prevUrl}}">
                        <i class="pagination-font ri-skip-left-line"></i>
                    </a>
                </li>
                <li th:classappend="${index eq pageIndex} ? 'active'"
                    th:each="index : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{/tags}+'/'+${tag.spec.slug}+'/page/' + ${index}"
                       th:text="${index}"></a>
                </li>
                <li class="next"
                    th:classappend="${index eq totalPages} ? ' disabled':''">
                    <a th:href="@{${posts.nextUrl}}">
                        <i class="pagination-font ri-skip-right-line"></i>
                    </a
                    ></li>
            </ul>
            <!--        页面总数大于7-->
            <ul class="pagination" th:if="${totalPages gt 7}">
                <li class="prev"
                    th:classappend="${1 eq pageIndex} ? ' disabled':''">
                    <a th:href="@{${posts.prevUrl}}">
                        <i class="jpagination-font ri-skip-left-line"></i>
                    </a>
                </li>

                <li th:classappend="${1 eq pageIndex} ? 'active':''">
                    <a href="/">1</a>
                </li>
                <!-- 当前页面小于等于4 -->
                <li th:classappend="${index eq pageIndex} ? 'active':''"
                    th:each="index : ${#numbers.sequence(2,5)}"
                    th:if="${pageIndex le 4}">
                    <a th:href="@{/tags}+'/'+${tag.spec.slug}+'/page/' + ${index}"
                       th:text="${index}"></a>
                </li>
                <li th:if="${pageIndex le 4}">
                    <a href="#">...</a>
                </li>
                <!-- 最后一页与当前页面之差小于等于3 -->
                <li th:if="${totalPages - pageIndex le 3}">
                    <a href="#">...</a>
                </li>
                <li th:classappend="${index eq pageIndex} ? 'active':''"
                    th:each="index : ${#numbers.sequence(totalPages - 4, totalPages - 1)}"
                    th:if="${totalPages - pageIndex le 3}">
                    <a th:href="@{/tags}+'/'+${tag.spec.slug}+'/page/' + ${index}"
                       th:text="${index}">
                    </a>
                </li>
                <!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
                <li th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                    <a href="#">...</a>
                </li>
                <li th:each="index : ${#numbers.sequence(pageIndex - 1,pageIndex + 1)}"
                    th:classappend="${index eq pageIndex} ? 'active':''"
                    th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                    <a th:href="@{/tags}+'/'+${tag.spec.slug}+'/page/' + ${index}"
                       th:text="${index}">
                    </a>
                </li>
                <li th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                    <a href="#">...</a>
                </li>
                <!-- 尾页 -->
                <li th:classappend="${totalPages eq pageIndex} ? 'active':''"
                >
                    <a th:href="@{/tags}+'/'+${tag.spec.slug}+'/page/' + ${totalPages}"
                       th:text="${totalPages}">
                    </a>
                </li>
                <li class="next"
                    th:href="@{${posts.nextUrl}}"
                    th:classappend="${index eq totalPages} ? ' disabled':''">
                    <a th:href="@{${posts.nextUrl}}">
                        <i class="pagination-font ri-skip-right-line"></i>
                    </a>
                </li>
            </ul>
        </th:block>
    </div>
</th:block>
</html>